<div class="row">
  {{#each products}}
    <div class="col-md-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{imagePath}}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{productName}}</h5>
          <p class="card-text">storageCapacity:
            {{information.storageCapacity}}, numberOfSIM:{{information.numberOfSIM}},
            cameraResolution:{{information.cameraResolution}}</p>
          <div class="d-flex justify-content-between">
            <span class="price text-danger">{{price}}</span>
            <a href="#" class="btn btn-success">Add to cart</a>
          </div>
        </div>
      </div>
    </div>

  {{/each}}
</div>